@use '../../styles/keyframes.scss';

.main {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.showContainer {
  opacity: 0;
  visibility: visible;
  transform: translate(0, -100%);
  animation: showElement .8s ease-in-out 1s forwards;
}